body {
    background-color: black;
    font-family: 'Signika', sans-serif;

}

/*containers*/

/*callout css*/
.callout-container {

   height: 100vh;
    background: url(../images/whiskey-background.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

 margin-bottom: 25px;
 margin-right: 25px;
}

.lead {
    
    color: 	rgb(248, 248, 248);
}

.opaque-overlay {

position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0,0,0,0.3)
}

.popper {

    font-weight: bold;
    font-size: 
}
/*callout end*/

/*navbar*/

.navalert-container {

position: absolute;
top: 0;
left: 0;
padding-left: 0;
padding-right: 0;
z-index: 2;

}

.navbar {

margin-bottom: 0;
border: 0;
width: 100%;
background-color: rgba(0,0,0,0.0.15)

}

.navbar .navbar-toggler {
 
   border: 0;
}

.navbar-brand {
  
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    font-weight: bold;
    color: cornsilk;
}

.navbar .navbar-nav a {

    font-weight: bold;

}
/*nav bar end*/

/*alert*/
.alert-container {


}

.site-wide-alert {

    margin-bottom: 0;
}

.alert-warning {

    background-color: rgba(7, 213, 250, 0.575)
}
/*alert end*/

/*quotes*/
/*quotes end*/

/*features*/
.feature {
    text-align: center;
}

.feature i {

margin-bottom: 20px;
line-height: 45px;
font-size: 45px;    
}
/*features end*/

/*text*/
.text-color--grey {

color: grey;    
}

.text-color--black {

color: black;
}

.text-color--white {

color: white;
}

.text-font--alata {
    
    font-family: 'Alata', sans-serif;
}

.text-font--opem {

 font-family: 'Open Sans', sans-serif;   
}
/*text end*/

/*wrappers*/
.container-wrapper {


}

.container-wrapper--grey {

    background-color: grey; 
    width: 100%;
    color: antiquewhite;
}
/*wrappers end*/

/*containers end*/

/*jumbotron*/
.jumbotron {

    background-color: transparent;
}

.jumbotron-header {

    color:	rgb(234, 248, 236);
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {

font-size: 80%;
font-style: italic;
color: white;

}
/*jumbotron end*/

/*dividers*/
.block-divider{

width: 100%;
height: 30px;
background-color: black;
}

.header-divider{

    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 650px;
    height: 0.5px;
    background-color: #71c9d8;
}

.header-dividertwo{

    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 200px;
    height: 0.5px;
    background-color: #71c9d8;
}

.basic-divider {

    margin-top: 0.5px;
    margin-bottom: 0;
    border: 1px;
    width: 120px;
    height: 1px;
    background-color: rgba(52, 73, 78, 0.671);
    border-color: white;
}
/*dividers end*/

/*buttons*/

.feature .btn {
 
 border-color: grey;
  background-color: grey;
  color: rgb(255, 255, 255);  
  border-radius: 10px;
  font-weight: bold;
  margin-top: 15px;
}

.btn--cta {

    font-weight: bold;
    border-radius: 25px;
    width: 160px;
}

.btn--blue {

    background-color: #00BFFF;
    color: #fffaff;
}


.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {

background-color: #87CEFA;
border-color: white;
color: white;

}

/*buttons end*/

/*page headers */
.page-header {

margin-top: 25px;
margin-bottom: 15px;

}

/*page headers end */
