body {
    background-color: black;
    font-family: 'Signika', sans-serif;

}

/*containers*/
/*callout css*/
.callout-container {

   height: 100vh;
    background: url(../images/whiskey-background.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
   
}

.lead {
    
    color: 	#C0C0C0;
}

.header-rule{

    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 800px;
    height: 1px;
    background-color: #71c9d8;
}
/*callout end*/

/*containers end*/

/*jumbotron*/
.jumbotron {

    background-color: transparent;
}

.jumbotron-header {

    color:	#DCDCDC;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {

font-size: 80%;
font-style: italic;
color: white;

}
/*jumbotron end*/